<!-- Inicio do Conteúdo da Pagina -->
<main id="main" class="main pb-0">
    <section class="section" >
        <div class="row justify-content-center">

            <div class="col-lg-12 d-flex" style="min-height: 78vh;">

                
                <div class="col-md-6">
                  <div class="card info-card revenue-card me-3 d-flex align-items-center">
                      <a href="/lancamento/despesa/unica" class="mt-5">
                          <div class="card-body d-flex align-items-center">
                              <div class="col-md-12 mx-3">
                                  <img src="../res/site/assets/img/img_despesa_unica.png" alt="Despesa Única ou Fixa" style="max-height: 55vh;">
                                  <div class="col-md-12 d-flex justify-content-center mt-4">
                                      <button type="button" class="btn-lg btn-danger" style="background-color: #E54640; border-color: #E54640;">Despesa Única ou Fixa</button>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                </div>
                
                
                <div class="col-md-6">
                  <div class="card info-card revenue-card me-3 d-flex align-items-center">
                      <a href="/lancamento/despesa/parcelado" class="mt-5">
                      <div class="card-body d-flex align-items-center">
                          <div class="col-md-12 mx-3">
                              <img src="../res/site/assets/img/img_despesa_parcelada.png" alt="Despesa Parcelada" style="max-height: 55vh;">
                              <div class="col-md-12 d-flex justify-content-center mt-4">
                                  <button type="button" class="btn-lg btn-danger" style="background-color: #E54640; border-color: #E54640;">Despesa Parcelada</button>
                              </div>
                          </div>
                      </div>
                      </a>
                  </div>
                </div>




            </div>
        </div>

    </section>

  </main><!-- End #main -->