    <!-- Inicio do Conteúdo da Pagina -->
    <main id="main" class="main">

        <!-- Inicio Título da Pagina -->
        <div class="pagetitle">
            <h1>Projeções Futuras</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                    <li class="breadcrumb-item active">Projeções Futuras</li>
                </ol>
            </nav>
        </div>
        <!-- Fim Título da Pagina -->

        <!-- Inicio Título da Pagina -->
        <section class="section dashboard">

            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body" style="min-height: 60vh;">

                            <!-- Projeções Futuras -->
                            <div class="col-md-12 mt-2">

                                <div id="body">

                                    <div id="section">

                                        <div class="swiper mySwiper container">
                                            <div class="swiper-wrapper content">


                                                <div class="swiper-slide card bg-light">

                                                    <a href="#" onclick="mostrar_modal()" data-toggle="modal"
                                                        data-target="">
                                                        <div class="card-content">
                                                            <div class="name-profession text-white">
                                                                <span class="name">Janeiro</span>
                                                                <span class="profession">Mês Atual</span>
                                                            </div>

                                                            <div class="rating pt-5 text-black">
                                                                <p><b>Receita:</b> R$500<b> </br> Despesa:</b> R$600</p>
                                                            </div>

                                                            <div class="button">
                                                                <button>Abrir mês</button>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>

                                                <div class="swiper-slide card bg-light">

                                                    <a href="#" onclick="mostrar_modal()" data-toggle="modal"
                                                        data-target="">
                                                        <div class="card-content">
                                                            <div class="name-profession text-white">
                                                                <span class="name">Fevereiro</span>
                                                                <span class="profession">Mês Atual</span>
                                                            </div>

                                                            <div class="rating pt-5 text-black">
                                                                <p><b>Receita:</b> R$500<b> </br> Despesa:</b> R$600</p>
                                                            </div>

                                                            <div class="button">
                                                                <button>Abrir mês</button>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>

                                                <div class="swiper-slide card bg-light">

                                                    <a href="#" onclick="mostrar_modal()" data-toggle="modal"
                                                        data-target="">
                                                        <div class="card-content">
                                                            <div class="name-profession text-white">
                                                                <span class="name">Março</span>
                                                                <span class="profession">Mês Atual</span>
                                                            </div>

                                                            <div class="rating pt-5 text-black">
                                                                <p><b>Receita:</b> R$500<b> </br> Despesa:</b> R$600</p>
                                                            </div>

                                                            <div class="button">
                                                                <button>Abrir mês</button>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>

                                                <div class="swiper-slide card bg-light">

                                                    <a href="#" onclick="mostrar_modal()" data-toggle="modal"
                                                        data-target="">
                                                        <div class="card-content">
                                                            <div class="name-profession text-white">
                                                                <span class="name">Abril</span>
                                                                <span class="profession">Mês Atual</span>
                                                            </div>

                                                            <div class="rating pt-5 text-black">
                                                                <p><b>Receita:</b> R$500<b> </br> Despesa:</b> R$600</p>
                                                            </div>

                                                            <div class="button">
                                                                <button>Abrir mês</button>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>

                                                <div class="swiper-slide card bg-light">

                                                    <a href="#" onclick="mostrar_modal()" data-toggle="modal"
                                                        data-target="">
                                                        <div class="card-content">
                                                            <div class="name-profession text-white">
                                                                <span class="name">Maio</span>
                                                                <span class="profession">Mês Atual</span>
                                                            </div>

                                                            <div class="rating pt-5 text-black">
                                                                <p><b>Receita:</b> R$500<b> </br> Despesa:</b> R$600</p>
                                                            </div>

                                                            <div class="button">
                                                                <button>Abrir mês</button>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>

                                                <div class="swiper-slide card bg-light">

                                                    <a href="#" onclick="mostrar_modal()" data-toggle="modal"
                                                        data-target="">
                                                        <div class="card-content">
                                                            <div class="name-profession text-white">
                                                                <span class="name">Junho</span>
                                                                <span class="profession">Mês Atual</span>
                                                            </div>

                                                            <div class="rating pt-5 text-black">
                                                                <p><b>Receita:</b> R$500<b> </br> Despesa:</b> R$600</p>
                                                            </div>

                                                            <div class="button">
                                                                <button>Abrir mês</button>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>

                                                <div class="swiper-slide card bg-light">

                                                    <a href="#" onclick="mostrar_modal()" data-toggle="modal"
                                                        data-target="">
                                                        <div class="card-content">
                                                            <div class="name-profession text-white">
                                                                <span class="name">Julho</span>
                                                                <span class="profession">Mês Atual</span>
                                                            </div>

                                                            <div class="rating pt-5 text-black">
                                                                <p><b>Receita:</b> R$500<b> </br> Despesa:</b> R$600</p>
                                                            </div>

                                                            <div class="button">
                                                                <button>Abrir mês</button>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>

                                                <div class="swiper-slide card bg-light">

                                                    <a href="#" onclick="mostrar_modal()" data-toggle="modal"
                                                        data-target="">
                                                        <div class="card-content">
                                                            <div class="name-profession text-white">
                                                                <span class="name">Agosto</span>
                                                                <span class="profession">Mês Atual</span>
                                                            </div>

                                                            <div class="rating pt-5 text-black">
                                                                <p><b>Receita:</b> R$500<b> </br> Despesa:</b> R$600</p>
                                                            </div>

                                                            <div class="button">
                                                                <button>Abrir mês</button>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>

                                                <div class="swiper-slide card bg-light">

                                                    <a href="#" onclick="mostrar_modal()" data-toggle="modal"
                                                        data-target="">
                                                        <div class="card-content">
                                                            <div class="name-profession text-white">
                                                                <span class="name">Setembro</span>
                                                                <span class="profession">Mês Atual</span>
                                                            </div>

                                                            <div class="rating pt-5 text-black">
                                                                <p><b>Receita:</b> R$500<b> </br> Despesa:</b> R$600</p>
                                                            </div>

                                                            <div class="button">
                                                                <button>Abrir mês</button>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>

                                                <div class="swiper-slide card bg-light">

                                                    <a href="#" onclick="mostrar_modal()" data-toggle="modal"
                                                        data-target="">
                                                        <div class="card-content">
                                                            <div class="name-profession text-white">
                                                                <span class="name">Outubro</span>
                                                                <span class="profession">Mês Atual</span>
                                                            </div>

                                                            <div class="rating pt-5 text-black">
                                                                <p><b>Receita:</b> R$500<b> </br> Despesa:</b> R$600</p>
                                                            </div>

                                                            <div class="button">
                                                                <button>Abrir mês</button>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>

                                                <div class="swiper-slide card bg-light">

                                                    <a href="#" onclick="mostrar_modal()" data-toggle="modal"
                                                        data-target="">
                                                        <div class="card-content">
                                                            <div class="name-profession text-white">
                                                                <span class="name">Novembro</span>
                                                                <span class="profession">Mês Atual</span>
                                                            </div>

                                                            <div class="rating pt-5 text-black">
                                                                <p><b>Receita:</b> R$500<b> </br> Despesa:</b> R$600</p>
                                                            </div>

                                                            <div class="button">
                                                                <button>Abrir mês</button>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>

                                                <div class="swiper-slide card bg-light">

                                                    <a href="#" onclick="mostrar_modal()" data-toggle="modal"
                                                        data-target="">
                                                        <div class="card-content">
                                                            <div class="name-profession text-white">
                                                                <span class="name">Dezembro</span>
                                                                <span class="profession">Mês Atual</span>
                                                            </div>

                                                            <div class="rating pt-5 text-black">
                                                                <p><b>Receita:</b> R$500<b> </br> Despesa:</b> R$600</p>
                                                            </div>

                                                            <div class="button">
                                                                <button>Abrir mês</button>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>


                                            </div>


                                        </div>

                                    </div>

                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-pagination"></div>

                                </div>
                            </div>


                            <!-- Modal -->
                            <div class="modal fade" id="minha_caixa" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title d-flex" id="exampleModalLabel"><b>Janeiro</b></h5>
                                        </div>
                                        <div class="modal-body">

                                            <form>

                                                <div class="form-group row">
                                                  <label for="staticEmail" class="col-md-4 col-form-label"><i class="bx bxs-dollar-circle text-success"></i> Receita:</label>
                                                  <div class="col-md-8">
                                                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="R$150,00">
                                                  </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="staticEmail" class="col-md-4 col-form-label"><i class="bx bxs-dollar-circle text-danger"></i> Despesa:</label>
                                                    <div class="col-md-8">
                                                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="R$150,00">
                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label for="staticEmail" class="col-md-4 col-form-label"><i class="ri-exchange-funds-line text-warning"></i> Meta:</label>
                                                    <div class="col-md-8">
                                                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="R$150,00">
                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label for="staticEmail" class="col-md-4 col-form-label"><i class="bi bi-credit-card-fill text-primary"></i> Cartão:</label>
                                                    <div class="col-md-8">
                                                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="R$150,00">
                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label for="staticEmail" class="col-md-4 col-form-label"><i class="ri-calendar-event-fill text-secondary"></i> Data Inicial:</label>
                                                    <div class="col-md-8">
                                                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="01/01/2022">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="staticEmail" class="col-md-4 col-form-label"><i class="ri-calendar-event-fill text-secondary"></i> Data Final:</label>
                                                    <div class="col-md-8">
                                                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="31/01/2022">
                                                    </div>
                                                </div>


                                              </form>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="closemodal" onclick="fechar()" class="btn btn-secondary"
                                            data-dismiss="modal">Sair</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                        


                    </div>
                </div>
            </div>
            </div>




        </section>
        <!-- Fim Título da Pagina -->

    </main>
    <!-- Final do main -->